<div class="columns is-desktop is-centered">
  <div class="column is-4">
    <h1 class="title has-text-centered">New Issue</h1>

    <%= render "form.html", Map.merge(assigns, %{action: Routes.newsletter_issue_path(@conn, :create, @newsletter), back: Routes.newsletter_issue_path(@conn, :index, @newsletter)}) %>
  </div>
</div>
