<h1>New Issue</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.newsletter_issue_path(@conn, :create, @newsletter)) %>

<span><%= link "Back", to: Routes.newsletter_issue_path(@conn, :index, @newsletter) %></span>
