<h1>Edit Newsletter</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.newsletter_path(@conn, :update, @newsletter)) %>

<span><%= link "Back", to: Routes.newsletter_path(@conn, :index) %></span>
