<div class="columns is-desktop is-centered">
  <div class="column is-4">
    <h1 class="title has-text-centered">Edit Newsletter</h1>

    <%= render "form.html", Map.merge(assigns, %{action: Routes.newsletter_path(@conn, :update, @newsletter), back: Routes.newsletter_path(@conn, :show, @newsletter)}) %>
  </div>
</div>
