<div class="columns is-desktop is-centered">
  <div class="column is-4">
    <h1 class="title has-text-centered">Create Newsletter</h1>

    <%= render "form.html", Map.merge(assigns, %{action: Routes.newsletter_path(@conn, :create), back: Routes.newsletter_path(@conn, :index)}) %>
  </div>
</div>
